[settings]
update_interval = 120
pause_interval  = 1
api_key         = dummy
log_path        = log
device          = /dev/ttyACM0
contrast        = 180
red             = 250
green           = 255
blue            = 140
